* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	font-size: 1rem;
	background-color: #e4e8e1;
}
ul {
	list-style-type: none;
}
a {
	text-decoration: none;
}
h1 {
	font-size: 2.5rem;
}
h2 {
	font-size: 1.5rem;
}
h3 {
	font-size: 1rem;
}
h4 {
	font-size: 0.75rem;
}

@media screen and (max-width: 800px) {
	body {
		background-color: darkslategray;
	}
}
